// src/pages/Board/BoardPost.scss
@import "../../sytle/variables";

.post-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .channelName {
    font-size: 14px;
    line-height: 16px;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
  }
  .nickname {
    font-size: 14px;
    align-items: center;
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;
  }

  .post-pi-area {
    display: flex;
    justify-content: space-between;
    padding: 0 0 29px;
    p,
    span {
      line-height: 1.2rem;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
    }

    .pi-thumbs-up {
      position: relative;
    }

    .tooltip {
      visibility: hidden;
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 5px;
      border-radius: 4px;
      position: absolute;
      bottom: 100%; /* 툴팁이 위쪽에 나타남 */
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .pi-thumbs-up:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
  .content {
    padding: 20px;
    border-top: 2px solid #eee;
    // border-bottom: 2px solid #eee;
  }

  img {
    max-width: 90%; /* 부모 요소의 너비를 초과하지 않도록 설정 */
    height: auto; /* 이미지 비율을 유지하면서 크기 조정 */
    display: block; /* 이미지가 inline 요소로 동작하지 않게 변경 */
    margin: 0 auto; /*  가운데 정렬 */
  }
}
