// src/pages/HelpInfo/HelpInfo.scss
@import "../../App.scss";

.helpInfo-carousel {
  .p-carousel-item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    .helpInfo-carousel-card {
      width: 200px; // 고정된 너비
      height: 250px; // 고정된 높이
      // padding: 10px;
      // background-color: $card-background-color;
      // border: 1px solid $border-color;
      // border-radius: 8px;

      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 0.5rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      .helpInfo-carousel-img {
        width: 150px; // 부모 크기에 맞춤
        height: 150px; // 고정 높이
        object-fit: contain; // 비율에 맞게 조정
        border-radius: 8px;
        margin: 0 auto;
      }

      .helpInfo-carousel-title {
        font-size: 1rem;
        font-weight: bold;
        color: $text-color;
        margin: 0.5rem 0;
      }

      .helpInfo-carousel-description {
        font-size: 0.8rem;
        color: $text-color;
      }
    }
  }
}

.helpInfo-table {
  .helpInfo-store-link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .p-datatable-thead > tr > th {
    background-color: $card-background-color;
    color: $card-h4-color;
    padding: 10px;

    @media (max-width: 768px) {
      font-size: 0.5rem;
    }
  }

  .p-datatable-tbody > tr > td {
    width: 20%;
    padding: 8px 12px;
    font-size: 1rem;
    color: $text-color;

    @media (max-width: 768px) {
      font-size: 0.5rem;
    }

    &:first-child {
      width: 45%;
      text-decoration: underline;
      color: $primary-color;
    }

    &:last-child {
      width: 15%;
    }
  }

  .p-datatable-tbody > tr:nth-child(odd) > td {
    background-color: $card-border-color;
  }

  .p-datatable-tbody > tr:nth-child(even) > td {
    background-color: $card-background-color;
  }
}

.p-paginator-bottom {
  .p-paginator-element {
    @media (max-width: 768px) {
      padding: 0rem;
      font-size: 0.6rem;
    }
  }
}
